[maintenance]
	repo = C:/Users/Sanat/Repos/znap
	repo = C:/Users/Sanat/Repos/marlonrichert/zsh-autocomplete
	repo = C:/Users/Sanat/Repos/zsh-users/zsh-autosuggestions
	repo = C:/Users/Sanat/Repos/zsh-users/zsh-syntax-highlighting
